body {
    font-family: Helvetica, sans-serif;
    background: #1a1a1a;
    color: white;
    padding: 1em;
}


.main-panel {
    position: relative;
    min-height: 100vh;
    border-top: 3px solid #f33d4e;
}

.card {
    border-top: 2.5px solid #209cee;
    position: relative;
    min-height: 125px;
    width: 100%;
    margin-bottom: 30px;
    background: #242424;
    box-shadow: 0 1px 1em 0 rgb(0 0 0 / 20%);
}

.card .card-header {
    padding: 0;
    border: 0;
}

.card .card-header .card-category {
    font-weight: 100;
    color: #9a9a9a;
}

.card .card-title {
    font-weight: 100;
    color: #ffffff;
}

.navbar {
    background-color: var(--bs-gray-800);
    color: white;
}


h1 {
    color: var(--bs-primary);
}

.bg-dark {
    background-color: #343a40 !important;
}

.logo {
    padding-bottom: 10px;
    padding-right: 10px;
}